@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --button_color: #DD0000;
    --header_text_color: #FFFFFF;
    --background_color: #161616;
}

* {
    margin: 0;
    padding: 0;
    /* background-color: #FFFFFF; */
}

/* Desktop Responsive Start*/

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

/* Header Content Part */

.header-content {
    background-color: #161616;
    border-radius: 30px;
    width: 90%;
    height: 646px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-part {
    width: 531px;
    height: 424px;
}

.text-part h1 {
    font-size: 70px;
    font-weight: 700;
    color: var(--header_text_color);
    line-height: 80px;
    margin-bottom: 20px;
    width: 531px;
    height: 240px;
}

.text-part p {
    width: 506px;
    height: 78px;
    font-size: 16px;
    font-weight: 400;
    color: var(--header_text_color);
    line-height: 26px;
    margin-bottom: 40px;
}

.text-part a {
    background-color: var(--button_color);
    padding: 16px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--header_text_color);
    font-weight: 400;
}

.fa-angle-right {
    color: var(--header_text_color);
    background-color: var(--button_color);
    margin-left: 10px;
}

.image-part img {
    width: 581px;
    height: 613px;
    margin-top: 33px;
    /* background: url(../assets/messi.png); */
}

.image-part img:hover{
    width: 581px;
    height: 613px;
    margin-top: 33px;
    transform: scale(-1);
    transition: 3s ease;
}

/* Header Part End */

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 1rem auto;
}

.view-all{
    display: none;
}

/* SideBr Part Start */

.side-bar {
    width: 282px;
    height: 312px;
    background-color: var(--background_color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.side-bar ul li {
    list-style: none;
    width: 252px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-bar ul li a {
    text-decoration: none;
}

.side-link-1 {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    color: var(--background_color);
    background-color: var(--header_text_color);
}

.side-link-2 {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    border-radius: 10px;
    color: var(--background_color);
    background-color: var(--button_color);
}

.side-link-1 a {
    color: black;
}

.side-link-2 a {
    color: white;
}

/* SideBr Part End */

/* Blog Part Start */

.all-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.blog-posts {
    width: 300px;
    height: 362px;
}

.blog-post {
    padding-top: 20px;
    padding-left: 20px;
}

.blog-image img {
    width: 300px;
    height: 175px;
    border-radius: 10px 10px 0px 0px;
}

.blog-tag {
    width: 100px;
    height: 32px;
    border: 2px solid var(--background_color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-tag a {
    text-decoration: none;
    color: #161616;
    font-size: 16px;
    font-weight: 500;
}

.blog-titel {
    width: 272px;
    height: 54px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 0;
}

.blog-titel h2 {
    width: 302px;
    height: 54px;
    color: var(--background_color);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

}

.blog-info {
    width: 143px;
    height: 26px;
}

.blog-info .fa-clock {
    color: #161616;
    background-color: #FFFFFF;
}

.blog-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-icon span {
    margin-left: 10px;

}

.chat-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-icon span {
    margin-left: 10px;

}
/* Blog Part End */

/* Footer Start */

footer {
    width: 100%;
    height: 444px;
    background-color: var(--background_color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

hr {
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-logo {
    font-size: 40px;
    line-height: 60px;
    font-weight: 600;
    color: var(--header_text_color);
    text-align: center;
}

.footer-links ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-links ul li {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-links ul li a {
    text-decoration: none;
    color: var(--header_text_color);
}

.social-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.social-links ul li{
    list-style: none;
    margin: 20px;
    font-size: 20px;
}

.social-links ul li a{
    color: var(--header_text_color);
}

/* Footer End */

/* Desktop Responsive End*/


/* Tab View */

@media screen and (min-width:576px) and (max-width:834px) {
    /* Header Part Start */
    header{
        margin: 20px;
        margin-right: 20px;
    }
    .header-content {
        background-color: #161616;
        border-radius: 30px;
        width: 734px;
        height: 398px;
        margin: 0 20px;
        left: 84px;
        top: 271px;
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
    }

    .text-part {
        width: 316px;
        height: 276px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .text-part h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: var(--header_text_color);
        margin: 0;
        width: 289px;
        height: 150px;
        /* text-align: center; */
    }

    .text-part p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* text-align: center; */
        color: var(--header_text_color);
        margin-bottom: 40px;
        width: 316px;
        height: 48px;
        margin: 0;
        margin-bottom: 20px;
        margin-top: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .text-part a {
        background-color: var(--button_color);
        padding: 12px;
        border-radius: 5px;
        text-decoration: none;
        color: var(--header_text_color);
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
    }

    .fa-angle-right {
        color: var(--header_text_color);
        background-color: var(--button_color);
        margin-left: 10px;
    }

    .image-part {
        margin: 0;
        padding: 0;
        width: 323px;
        height: 340px;
    }

    .image-part img {
        margin: 0;
        padding: 0;
        width: 323px;
        height: 340px;
    }

    .image-part img:hover{
        margin: 0;
        padding: 0;
        width: 323px;
        height: 340px;
        transform: scale(-1);
        transition: 3s ease;
    }

    /* Header Part End */


    /* Main Part Start */

    main {
        flex-direction: column;
        align-items: center;
    }

    .all-blog {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        width: 734px;
    }

    .view-all{
        display: flex;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        padding: 12px 29px;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        gap: 10px;
        width: 131px;
        height: 47px;
        background-color: var(--button_color);
        color: var(--header_text_color);
    }

    .display-none {
        display: none;
      }

    .side-bar {
        width: 734px;
        height: 64px;
        margin: 50px 0px 50px 35px;
        background-color: #FFFFFF;
    }

    .side-content ul{
        display: flex;
    }

    .side-content ul li {
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        width: 230px;
        height: 64px;
    }

    /* Main bar end */

    /* Footer Start */

footer {
    width: 100%;
    height: 455px;
    background-color: var(--background_color);
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-logo {
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
    color: var(--header_text_color);
    text-align: center;
}

.footer-links ul {
    width: 635px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-links ul li {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-links ul li a {
    text-decoration: none;
    color: var(--header_text_color);
}

/* Footer End */
}

/* Mobile Responsive */

@media screen and (max-width: 576px) {
    /* Header Part Start */
    header{
        margin-left: 20px;
    }
    .header-content {
        background-color: #161616;
        border-radius: 30px;
        width: 334px;
        height: 472px;
        margin: 0 20px;
        flex-direction: column;
        left: 84px;
        top: 271px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .text-part {
        width: 258px;
        height: 178px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .text-part h1 {
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        color: var(--header_text_color);
        margin: 0;
        width: 228px;
        height: 66px;
        text-align: center;
    }

    .text-part p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: var(--header_text_color);
        margin-bottom: 40px;
        width: 256px;
        height: 48px;
        margin: 0;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .text-part a {
        background-color: var(--button_color);
        padding: 8px 12px;
        border-radius: 5px;
        text-decoration: none;
        color: var(--header_text_color);
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
    }

    .fa-angle-right {
        color: var(--header_text_color);
        background-color: var(--button_color);
        margin-left: 10px;
    }

    .image-part {
        margin: 0;
        padding: 0;
        width: 233px;
        height: 245px;
    }

    .image-part img {
        margin: 0;
        padding: 0;
        width: 233px;
        height: 245px;
    }

    .image-part img:hover{
        margin: 0;
        padding: 0;
        width: 233px;
        height: 245px;
        transform: scale(-1);
        transition: 3s ease;
    }
    /* Header Part End */

    /* Main part start */
    main {
        flex-direction: column;
        align-items: center;
    }
    .view-all{
        display: none;
    }

    .all-blog {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        width: 375px;
    }

    .side-bar {
        width: 210px;
        height: 300px;
        margin-left: 20px;
        margin-bottom: 20px;
        background-color: #FFFFFF;
    }

    .side-content ul li {
        border: 1px solid #E8E8E8;
        border-radius: 10px;
    }

    /* Main part End */

    /* Footer Start */

footer {
    width: 100%;
    height: 544px;
    background-color: var(--background_color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

hr {
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-logo {
    font-size: 22px;
    line-height: 33px;
    font-weight: 600;
    color: var(--header_text_color);
    text-align: center;
}

.footer-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.footer-links ul li {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-links ul li a {
    text-decoration: none;
    color: var(--header_text_color);
}

/* Footer End */
}

/* Mobile Responsive Done */