@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --button_color: #DD0000;
    --header_text_color: #FFFFFF;
    --background_color: #161616;
}

* {
    margin: 0;
    padding: 0;
    /* background-color: #FFFFFF; */
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

header {
    background-color: #161616;
    border-radius: 30px;
    width: 95%;
    height: 646px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 130px;
}

/* Header Content Part */

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-part {
    width: 531px;
    height: 424px;
}

.text-part h1 {
    font-size: 70px;
    font-weight: 700;
    color: var(--header_text_color);
    padding-top: -10px;
    line-height: 80px;
    margin-bottom: 20px;
    width: 531px;
    height: 240px;
}

.text-part p {
    width: 506px;
    height: 78px;    
    font-size: 16px;
    font-weight: 400;
    color: var(--header_text_color);
    line-height: 26px;
    margin-bottom: 40px;
}

.text-part a {
    background-color: var(--button_color);
    padding: 16px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--header_text_color);
    font-weight: 400;
}

.fa-angle-right {
    color: var(--header_text_color);
    background-color: var(--button_color);
    margin-left: 10px;
}

.image-part {
    width: 581px;
    height: 613px;
    margin-top: 33px;
    background: url(../assets/messi.png);
}

/* Header Part End */

main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 1rem auto;
}

/* SideBr Part Start */

.side-bar{
    width: 282px;
    height: 312px;
    background-color: var(--background_color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.side-bar ul li{
    list-style: none;
    width: 252px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-bar ul li a{
    text-decoration: none;
}

.side-link-1{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 30px;
    border-radius: 10px;
    color: var(--background_color);
    background-color: var(--header_text_color);
}

.side-link-2{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    border-radius: 10px;
    color: var(--background_color);
    background-color: var(--button_color);
}

.side-link-2 a{
    color: var(--header_text_color);
}

.side-link-1 a{
    color: var(--background_color);
}

/* SideBr Part End */

/* Match Part Start */

.all-match{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.match-posts{
    width: 300px;
    height: 242px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.team{
    width: 252px;
    height: 56.18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.team-1,.team-2{
    width: 93px;
    height: 56px;
}

.match-titel {
    width: 202px;
    height: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin: 0;
}

.match-titel h2{
    width: 302px;
    height: 54px;
    color: var(--background_color);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

}

.match-info{
    width: 166px;
    height: 20px;
}

.match-info p{
    font-size: 16px;
    font-weight: 400;
    color: #4d4d4d;
}

/* Match Part End */

/* Footer Start */

footer{
    width: 100%;
    height: 444px;
    background-color: var(--background_color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 130px;
}

hr{
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);   
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-logo{
    font-size: 40px;
    line-height: 60px;
    font-weight: 600;
    color: var(--header_text_color);
    text-align: center;
}

/* .footer-links{

} */

.footer-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-links ul li{
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

.footer-links ul li a{
    text-decoration: none;
    color: var(--header_text_color);
}

/* Footer End */